#inputPost{
    width: 100%;
    height: 10vmin;
    border-radius: 1vmin;
    border: 2px solid #64B0EE
  }

  #flexBtn{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .card-header{
    background-color: rgb(120, 200, 200, 0.6);
    color: rgb(255, 250, 0);
    font-size: 1.5rem;
  }

  #containerNuevo{
    margin-bottom: 5vmin;
  }

  .contenidoText{
    text-align: start;
  }

