@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background-color: rgb(236, 236, 236);
  margin: 0%;
  padding: 0%;
}

#nombreUser {
  font-size: 3.8rem;
}

#datos {
  color: #6229d9;
}

#floatingTextarea22{
  height: 12vh;
}
